# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [76]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [77]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/workspace/home

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [78]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
             
print(len(full_data_rows_list))
print(full_data_rows_list[3])

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

8056
['', 'Logged In', 'Samuel', 'M', '0', 'Gonzalez', '', 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', '1.54049E+12', '252', '', '200', '1.54147E+12', '61']

# Question?: why use writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))? why not 0-11 in order? Is it random?

In [79]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the **denormalized** data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [80]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

Keyspace of Apache Cassandra is a collections of tables (similar to schema of relational database)

In [81]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [82]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

# Q1

In [83]:
# Delete previous session table
session.execute("DROP TABLE IF EXISTS sessionid_table")
# create session table
create_table_query = "CREATE TABLE IF NOT EXISTS sessionid_table (artist text, item_in_session int, \
length float, session_id int, song_title text, PRIMARY KEY (session_id, item_in_session))"
session.execute(create_table_query)

In [84]:
# Insert all sessions from the csv data into the sessions table
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO sessionid_table (artist, item_in_session, length, session_id, song_title)"
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        session.execute(query, (line[0], int(line[3]), float(line[5]), int(line[8]), line[9]))

#### Do a SELECT to verify that the data have been inserted into each table

In [85]:
query1 = "select artist, song_title, length from sessionid_table WHERE session_id = 338 and item_in_session = 4"
rows = session.execute(query1)
for row in rows:
    print (row.artist, row.song_title, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

In [86]:
session.row_factory

In [87]:
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

session.row_factory = pandas_factory
session.default_fetch_size = None

result = session.execute(query1, timeout=None)
df = result._current_rows
df

      artist                       song_title      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

In [88]:
session.row_factory = cassandra.query.named_tuple_factory

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

# Q2

In [89]:
# Delete previous session table
session.execute("DROP TABLE IF EXISTS user_session_table")
# create session table (composite key)
create_table_query = "CREATE TABLE IF NOT EXISTS user_session_table (artist text, first_name text, \
item_in_session int, last_name text, session_id int, song_title text, user_id int, \
PRIMARY KEY ((user_id, session_id), item_in_session))"
session.execute(create_table_query)

# Insert all sessions from the csv data into the sessions table
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO user_session_table (artist, first_name, item_in_session, last_name, session_id, song_title, user_id)"
        query = query + " VALUES (%s, %s, %s, %s, %s, %s, %s)"
        session.execute(query, (line[0], line[1], int(line[3]), line[4], int(line[8]), line[9], int(line[10]))) 
        
query2 = "select artist, song_title, first_name, last_name from user_session_table WHERE session_id = 182 and user_id = 10"
rows = session.execute(query2)
for row in rows:
    print (row.artist, row.song_title, row.first_name, row.last_name)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

In [90]:
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

session.row_factory = pandas_factory
session.default_fetch_size = None

result = session.execute(query2, timeout=None)
df = result._current_rows
df

,artist,song_title,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [91]:
session.row_factory = cassandra.query.named_tuple_factory

A composite partition key with one clustering column have faster write performance than a partition key + 2 clustering columns, because the first combination gives us the sorting done on disk. Which is suppose to be faster while retrieving.

In [92]:
# Delete previous session table
session.execute("DROP TABLE IF EXISTS song_table")
# create session table (composite key)
create_table_query = "CREATE TABLE IF NOT EXISTS song_table (first_name text, last_name text, song_title text, user_id int, \
PRIMARY KEY (song_title, user_id))"
session.execute(create_table_query)

# Insert all sessions from the csv data into the sessions table
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO song_table (first_name, last_name, song_title, user_id)"
        query = query + " VALUES (%s, %s, %s, %s)"
        session.execute(query, (line[1], line[4], line[9], int(line[10])))           

query3 = "select first_name, last_name from song_table WHERE song_title = 'All Hands Against His Own'"
rows = session.execute(query3)
for row in rows:
    print (row.first_name, row.last_name)

Jacqueline Lynch
Tegan Levine
Sara Johnson

In [93]:
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

session.row_factory = pandas_factory
session.default_fetch_size = None

result = session.execute(query2, timeout=None)
df = result._current_rows
df

,artist,song_title,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [94]:
session.row_factory = cassandra.query.named_tuple_factory

### Drop the tables before closing out the sessions

In [95]:
delete_sessionid_table_query = "DROP TABLE IF EXISTS sessionid_table"
session.execute(delete_sessionid_table_query)

delete_user_session_table_query = "DROP TABLE IF EXISTS user_session_table"
session.execute(delete_user_session_table_query)

delete_song_table_query = "DROP TABLE IF EXISTS song_table"
session.execute(delete_song_table_query)

### Close the session and cluster connection¶

In [96]:
session.shutdown()
cluster.shutdown()